{% extends 'base.html' %}

{% load static %}
{% block title %}
    All My Posts
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "new_blog/post.css" %}">
    <link rel="stylesheet" href="{% static "new_blog/all-posts.css" %}">
{% endblock %}

{% block content %}
<section id="all-posts">
    <h2>My Callected Posts</h2>

    <ul>
        {% for post in all_posts %}
            {% include "new_blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>
{% endblock %}